#W
$25
store_data.*
dmem_req_addr.*
mem_write_mask.*
dcache_mem_req_valid
dcache_mem_req_write
dcache_mem_ready
$25

#E
dcache_mem_wline.*

#N
icache_mem_read_data.*
icache_mem_req_addr.*
icache_mem_req_valid
icache_mem_ready
debug_.*

#S
dcache_mem_read_data_block.*
clk
rst
uart_tx
uart_rx
leds.*
