runs/
openlane/runs/
**/runs/
pdks/
.volare/

*.log
*.rpt
*.param
lefRWarning.log
macrocell.list
dummy.guide

*.vcd
*.vvp
*.out
*.ghw
*.eda

**/__pycache__/
.pytest_cache/
sim_build/

.vscode/
.DS_Store
Thumbs.db
*.swp
*~